[*]
root = true
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

#
# YAML has some very specific requirements pertaining to its whitespace and
# indentation standards, so we explicitly specify it here on the chance that
# the above is changed for some reason (otherwise all YAML would also become
# invalid when updated/saved).
#
[*.{yml,yaml}]
indent_style = space
indent_size = 2
